@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? true;
    var cookieString = consentFeature.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show col-lg-6 m-auto" role="alert">
        @Localizer["Message"] <a asp-controller="Home" asp-action="Privacy">Learn More</a>.
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">@Localizer["Button"]</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                var consentCookie = button.dataset.cookieString;
                console.log(consentCookie);
                document.cookie += consentCookie;
            }, true);
        })();
    </script>
}