@model S2Dent.ViewModels.InputModels.NewsInputModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>NewsInputModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleInBulgarian" class="control-label"></label>
                <input asp-for="TitleInBulgarian" class="form-control" />
                <span asp-validation-for="TitleInBulgarian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleInEnglish" class="control-label"></label>
                <input asp-for="TitleInEnglish" class="form-control" />
                <span asp-validation-for="TitleInEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentInBulgarian" class="control-label"></label>
                <input asp-for="ContentInBulgarian" class="form-control" />
                <span asp-validation-for="ContentInBulgarian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentInEnglish" class="control-label"></label>
                <input asp-for="ContentInEnglish" class="form-control" />
                <span asp-validation-for="ContentInEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionInBulgarian" class="control-label"></label>
                <input asp-for="DescriptionInBulgarian" class="form-control" />
                <span asp-validation-for="DescriptionInBulgarian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionInEnglish" class="control-label"></label>
                <input asp-for="DescriptionInEnglish" class="form-control" />
                <span asp-validation-for="DescriptionInEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureUrl" class="control-label"></label>
                <input asp-for="PictureUrl" class="form-control" />
                <span asp-validation-for="PictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
